<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vm.shadowsocks">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/shadowsocks"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:persistent="true">

        <activity
            android:name="com.vm.shadowsocks.ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.vm.shadowsocks.ui.AppManager"
            android:label="@string/proxied_apps"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"/>

        <service
            android:name="com.vm.shadowsocks.core.LocalVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
    </application>
</manifest>
